header{
  background-color: #7ECCD1;
}
header nav {
    display: flex;
    justify-content: space-between;
    margin: 3vw 3vw 3vw 3v;
  }

header nav ul {
    display: flex;
    margin: 4vw;
    font-size: 1.25rem;
}
header nav ul li {
    margin: 0 2vw 0 2vw;
}
header a img{
    margin: 1vw 0 0 3vw;
}