  main section.se1{
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vw 0 20vw;
  } 
  main section.se1 div h1 {
    font-size: 2.2rem;
	margin: 5vw 60vw 2vw 1vw;
	background-color: #7ECCD1;
	padding: 2vw 2vw 2vw 2vw;
	border-radius: 30px;
	color: #FEEDFE;
    border-bottom-right-radius: 0;
	border: #414141 3px solid;
  }
  main section.se1 div h1 span{
    color: green;
    font-size: 2.2rem;
  }
  section.se2 h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    background-color: #7ECCD1;
    padding: 2vw 3vw 2vw 3vw;
  }
  section.se2 div {
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
  }

  section.se2 div.digra1 {
    display: block;
    background-color: #7ECCD1;
    border: #414141 solid 2px;
    border-radius: 4vw;
    margin: 3vw 5vw 3vw 5vw;
    padding: 4vw;
  }

  div.digra1 h3 {
    font-size: 1.7rem;
  }
  div.digra1 ul {
    font-size: 1.4rem;
    padding: 1vw 1.5vw 1vw 1.5vw;
  }

  div.digra1 li {
    padding: 0.5vw 0 0.5vw 0;
  }

  section.se2 div.digra2 {
    display: block;
    background-color: #7ECCD1;
    border: #414141 solid 2px;
    border-radius: 4vw;
    margin: 3vw 5vw 3vw 5vw;
    padding: 4vw;
  }
  div.digra2 h3 {
    font-size: 1.7rem;
  }

  div.digra2 span {
   display: flex;
  }

  div.digra2 img.um {
    padding: 1.5vw;
  }
  div.digra2 img.dois {
    padding: 1.5vw;
  }