
section.sec1 p {
 font-size: 1.3rem;
    line-height: 1.6rem;
   
 }
 section div.divG1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
section div img {
    margin: 0 auto;
}
section {
    margin: 0 7vw 0 7vw;
}
section h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 1vw 0 0.5vw 0;
}
section h2 {
    font-size: 2.3rem;
}
section h3 {
    font-size: 2rem;
}
section h4 {
    font-weight: bold;
    font-size: 1.7rem;
}
section.sec2 div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 section.sec2 div.divG1 p {
 font-size: 1.2rem;
 }
 section.sec2 div ul li{
    font-size: 1.2rem;
 }
section.sec2 h3 {
    font-weight: bold;
}
section.sec2 p {
font-size: 1.3rem;
line-height: 1.8rem;
}
section.sec2 div ul li {
     line-height: 2rem;
     font-size: 1.3rem;
}
section.sec2 div.fundo {
    background-color: #c4f6fa;
    padding: 2vw 0 0 0;
    border-radius: 40px;
    border: rgb(124, 121, 121) 3px solid;
}
section.sec2 div.divG1 {
    padding: 0vw 25vw 0 25vw;
}
.sec2 .divG1 img{
    border-radius: 45px;
}
section.sec2 div.divG2 {
    padding: 0vw 25vw 0 25vw;
}
.sec2 .divG2 img{
    border-radius: 45px;
}
section.sec2 div.divG3 {
    padding: 0vw 25vw 0 25vw;
}
.sec2 .divG3 img{
    border-radius: 45px;
}
section.sec2 div.divG4 {
    padding: 0vw 25vw 0 25vw;
}
.sec2 .divG4 img{
    border-radius: 45px;
}








